<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f9f9f9;">
<!-- 전체 테이블 -->
<table align="center" width="100%" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: auto; background-color: #ffffff; border: 1px solid #ddd; border-radius: 5px; overflow: hidden;">
    <!-- 헤더 -->
    <tr>
        <td align="center" style="padding: 0; margin: 0;">
            <img src="https://raw.githubusercontent.com/9oormthon-univ/2024_DANPOONG_TEAM_37_BE/main/src/main/resources/static/email_logo.png"
                 alt="Header Image"
                 style="width: 100%; max-width: 600px; height: auto; display: block; margin: 0;">
        </td>
    </tr>
    <!-- 본문 -->
    <tr>
        <td style="padding: 20px;">
            <p style="margin: 0 0 10px;">안녕하세요, ~~~님! 🍁</p>
            <p style="margin: 0 0 10px;">구름톤 유니브 단풍톤 예선전에 참여해주셔서 감사합니다!</p>
            <p style="margin: 0;">아래는 참가자님의 예선전 정보입니다. 확인 부탁드립니다:</p>

            <p style="text-align: center; margin: 20px 0;">
                <a href="https://teamate.duckdns.org" style="padding: 10px 20px; background-color: #1A3D7D; color: #ffffff; text-decoration: none; border-radius: 5px; font-weight: bold;">확인하러 가기</a>
            </p>
        </td>
    </tr>
    <!-- 푸터 -->
    <tr>
        <td align="center" style="padding: 10px; background-color: #f4f4f4; font-size: 12px; color: #777777;">
            &copy; 2024 Teamate. All rights reserved.
        </td>
    </tr>
</table>
</body>
</html>
